table.pretty_table {
  width:800px;
  margin-left:auto;
  margin-right:auto;
  border:solid 2px;
  border-collapse:collapse;
  th {
    background-color:#1975FF;
    text-align:center;
    color:white;
  }
  th, td {
    border-right:solid;
    border-left:solid;
    border-width:2px;
    border-color:black;
  }
  tr.odd_row {
    background-color:white;
  }
  tr.even_row {
    background-color:#C6E2FF;
  }
}
