%table#game_table
  %thead#game_table_head
    %tr
      %th Title
      %th Rating
      %th Added
  %tbody#game_table_body
    - @games.each do |game|
      %tr
        %td= game.title
        %td= game.rating
        %td= game.created_at
