<!DOCTYPE html>
<html>
<head>
  <title>Articl.es -- All the World's Articles (with a name .com hipsters love)</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header">
    <h1>Articl.es</h1>
    <p>MAKE THIS DYNAMIC LATER, MIKE!!</p>
  </div>
  <div id="body">
    <%= yield %>
  </div>
</body>
</html>
