// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table#article_index {
  width:100%;
  border-style:solid;
  border-width:2px;
  border-color:black;
  border-collapse:collapse;
}

table#article_index th, td {
  border-left:solid;
  border-right:solid;
  border-width:2px;
  border-color:black;
}

table#article_index th {
  background-color:grey;
}

div#body h1#index_header {
  display:inline;
}

div#create_container a{
  position:absolute;
  right:50px;
}

div#create_container {
  height:50px;
}

table#article_index td#icons {
  background-color:white;
  border-style:none;
}