html, body {
	margin:0;
	padding:0;
	background-color:#aaaaaa;
	text-align:center;
	font-family:"Arial",arial,sans-serif;
}

h1, p {
	margin:0;
	padding:5px 5px 0px 5px;
}

h2 {
	margin:0;
	padding:10px;
}

h3 {
	margin:0;
	padding:0;
}

div#body_center {
	margin-left:auto;
	margin-right:auto;
	background-color:white;
	width:900px;
	height:auto;
	text-align:left;
	border-style:solid;
	border-width:1px;
}

div#body_header {
	height:auto;
	width:inherit;
	background-color:#cccccc;
}

div#header_menu {
	height:40px;
	width:inherit;
	background-color:black;
	margin-top:10px;
}

ul#menu_button_list {
	text-align:center;
	color:white;
	width:inherit;
	height:inherit;
	list-style-type:none;
	margin:0;
	padding:0;
}

ul#menu_button_list li {
	height:inherit;
	width:110px;
	display:inline block;
	float:left;
}

ul#menu_button_list li a {
	color:white;
	font-style:normal;
	font-weight:bold;
	text-decoration:none;
	display:block;
	height:inherit;
	line-height:2.5em;
}

ul#menu_button_list li a:hover {
	color:black;
	background-color:white;
}

div#main_body {
	background-color:white;
	height:225px;
	width:inherit;
}

table#feelings_table {
	padding:10px;
}

div#left_container {
	float:left;
}

div#right_container {
	display:inline;
	float:right;
	width:300px;
	height:75px;
	background-color:#f0f0ff;
	margin:10px;
}

div#copyright {
	width:inherit;
	height:35px;
	background-color:#f0f0f0;
	text-align:center;
}
